.social-widget
  
.social-description
  = link_to "Наш чат в Telegram", "https://t.me/it_61", class: "social-link", target: "_blank"
  p Для тех, кто не любит тяжелые и неповоротливые мессенджер-клиенты

