/.bundle
/vendor/bundle

/db/*.sqlite3
/db/*.sqlite3-journal
/db/sphinx

# Ignore all logfiles and tempfiles.
/log/*.log
/log/development.sphinx.pid
/tmp
.tags
.tags_sorted_by_file
.irb-history
nginx_rewrite.txt
.powenv

*.sublime-project
*.sublime-workspace
.idea

/config/database.yml
/config/application.yml
/config/settings.yml
/config/newrelic.yml
/config/thinking_sphinx.yml
/config/development.sphinx.conf
/config/secrets.yml

/public/system
/public/assets
/public/sitemap*
/public/uploads

/config/deploy.rb
/bower_components
/node_modules
