p Приветствуем, #{@user.full_name}!

p
  | Спешим сообщить вам, что ваша заявка добавление в компанию «#{@company.title}» одобрена.

| ---
br
| С уважением, команда IT61.
br
= link_to 'www.it61.info', root_url
