p Приветствуем, #{@user.full_name}!

p Вы запросили сброс пароля. Для того, чтобы выбрать новый пароль, перейдите по ссылке:
  #{link_to @url, @url, target: '_blank'}

br
| ---
br
| С уважением, команда IT61.
br
= link_to 'www.it61.info', root_url