.CodeMirror, .CodeMirror-scroll {
  min-height: 150px;
}

.event-form {
  &-container {
    @extend .container;
    @include media($new-event-mobile) {
      margin: 0;
      padding: 0;
    }
  }

  &-card {
    @include outer-container;
    @include media($new-event-mobile) {
      margin: 0;
      width: 100%;
      padding: 30px;
    }
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 35px;

    section {
      @include span-columns(5);
      margin: 1em 0;

      @include media($new-event-mobile) {
        @include span-columns(8);
      }
    }

    &-header {
      font-weight: 400;
      @include media($new-event-mobile) {
        font-weight: 700;
      }
    }
  }

  .image {
    float: left;
    @include span-columns(4);
    @include media($special-break) {
      @include span-columns(3);
    }
    @include media($new-event-mobile) {
      @include span-columns(8);
      text-align: center;
    }
    #image {
      @include media($new-event-mobile) {
        display: none;
      }
    }

    .file_upload {
      label {
        margin-right: 15px;
      }
      @include media($new-event-mobile) {
        margin: 0
      }
    }
  }

  .details {
    @include span-columns(6);
    float: right;

    @include media($special-break) {
      width: 55%;
    }

    @include media($new-event-mobile) {
      @include span-columns(8);
    }

    select {
      float: left;
      padding: 5px 10px;
      display: block;
      font-size: 16px;
      margin: 3px;
      color: black;
      line-height: 1.9;
      width: auto;
      box-shadow: none;
      border: none;
      transition: all 0.28s ease;
      border-bottom: solid 2px #ddd;
      background: transparent;

      &:focus {
        outline: none;
        border-bottom: 1px solid #2d79b7;
      }
    }
  }

  .description {
    @include span-columns(12);
    label {
      padding: 5px 10px;
    }
  }

  // Div with this class should wrap input and label
  .event-association-field {
    margin: 30px 0;
    &:first-child {
      margin-top: 0;
    }
  }

  .space-taker {
    @include span-columns(1);
    float: right;
    @include media($special-break) {
      display: none;
    }
  }

  // Form footer
  &-footer {
    @include media($new-event-mobile) {
      margin: 0;
    }

    &-buttons {
      float: right;
      @include media($new-event-tablet) {
        width: 100%;
        float: none;
      }
      @include media($new-event-mobile) {
        width: 100%;
        float: none;
      }
    }

    .required-fields {
      @include media($new-event-tablet) {
        width: 100%;
      }
    }
  }

  #known-places {
    font-weight: bold;
  }

  #map {
    width: 600px;
    height: 600px;
    margin: 0 auto;
  }

  #map-trigger {
    display: none;
  }
}




