.register {
  &-card {
    max-width: 745px;
    background: #fff;
    margin: 44px auto;
    @include media($register-mobile) {
      margin-left: 15px;
      margin-right: 15px;
    }

    .title {
      padding: 5px 35px;
      background: #327AB5;
      color: #fff;

      h1 {
        @include margin(32px null 14px null);
        font-size: 36px;
      }

      p {
        color: #d6e4f1;
        font-size: 18px;
        margin-bottom: 24px;
      }
    }

  }
  &-fields {
    @include outer-container;
    margin: 25px 45px;

    .input-float-label {
      @include margin(20px null 28px null);
    }

    .association {
      &-field {
        @include span-columns(6);
        @include media($register-mobile) {
          @include span-columns(12)
        }
      }

      &-curve {
        @include span-columns(1);
        @include omega;

        @include media($register-mobile) {
          display: none;
        }

        padding-left: 20px;
        width: 0;
      }

      &-text {
        @include span-columns(5);
        @include omega;

        @include media($register-mobile) {
          @include span-columns(12);
          margin-bottom: 20px;
          font-size: $base-font-size;
        }

        color: #479de4;
        font-size: 12px;
        line-height: 19px;
        width: 45%;
      }
    }

    .text {
      &-short {
        padding-top: 7px;
      }

      &-long {
        padding-top: 43px;
        @include media($register-mobile) {
          padding-top: 0;
        }
      }
    }

    .curve {
      width: 0;
      padding-right: 0;

      &-long {
        @include curve-association(106px);
      }

      &-short {
        @include curve-association(43px);
      }
    }

    .about-field {
      @include span-columns(12);
      @include media($register-mobile) {
        margin-bottom: 0;
      }
    }
  }

  &-footer {
    @include outer-container;
    margin: 25px 45px;
    padding-bottom: 35px;

    .required-fields {
      @include span-columns(5);

      @include media($register-mobile) {
        @include span-columns(12);
        margin-bottom: 25px;
      }

      margin-top: 7px;
      color: $blue;
    }

    .buttons {
      @include span-columns(7);

      button {
        float: right;
        margin-left: 17px;
      }

      @include media($register-mobile) {
        @include span-columns(12);

        button {
          @include margin(15px null null 0);
          float: inherit;
          width: 100%;
        }
      }
    }
  }
}