.page {

  &-header {
    width: 100%;
    background: $blue;
  }

  &-title {
    @include outer-container(1500px);
    @include pad(0 default);
    padding-bottom: 2em;

    color: white;
    h3 {
      font-size: 1.9em;
      font-weight: 400;
      @include margin(.3em 0);
      margin-top: 0;
    }
    h5 {
      font-size: 1.1em;
      font-weight: 400;
      @include margin(.3em 0);
    }
  }
}

.photo {
  @include outer-container(1500px);
  @include pad(2.5em default);

  &-list {
    @include span-columns(12);
    @include clearfix;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
  }

  &-item {
    position: relative;
    width: 19.7%;
    @include margin(2px);
    &:before {
      content: "";
      display: block;
      padding-top: 100%; /* initial ratio of 1:1*/
    }

    .photo {
      position: absolute;
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  &-refresh {
    margin: 3em 0;
    text-align: center;
  }
}

@media (min-width: 705px) and (max-width: 1100px) {
  .photo {
    @include outer-container(100%);
  }

  .photo-item {
    background: lightgrey;
    width: 32.5%;
  }
}

@media (max-width: 705px) {
  .photo {
    @include outer-container(705px);
  }

  .photo-item {
    background: lightgrey;
    width: 31.5%;
  }
}

