
@media (max-width: 705px) {
  main.profile-container {
    width: 90%;
    max-width: 470px;
    font-size: 13px;

    .sub-header {
      padding: 15px 2.35765%;
      border-bottom: 1px solid #b9b9b9;;
    }

    .user {
      @include span-columns(12);
      text-align: center;
      width: 100%;
      padding: 15px;
      height: auto;

      .picture {
        width: 100%;
        height: auto;
        margin-top: -90px;
        img {
          display: block;
          margin: 0 auto;
          border-radius: 100%;
          width: 150px;
          height: 150px;
        }
      }

      .details {
        @include span-columns(12);

        .social-buttons {
          font-size: 2.7em;
          margin-bottom: 25px;

          a.button {
            padding: 0.2em 0.5em;
            &:first-child {
              padding: 0.2em 0.5em;
            }
          }

          .hashtag {
            white-space: nowrap;
            overflow: hidden;
            color: #777;
            span {
              font-size: .5em;
              vertical-align: middle;
            }
          }
        }

        .bottom-buttons {
          bottom: 23px;
          position: static;
          margin-top: 25px;
          .button {
            width: 100%;
            margin: 5px 0;
            padding: 1em 1em;
            font-size: 1.1em;
          }
        }
      }
    }

    .participant {
      @include span-columns(12);
      margin-bottom: 15px;
    }

    .organizator {
      @include span-columns(12);
    }
  }
}

@media (min-width: 705px) and (max-width: 1100px) {
  main.profile-container {
    width: 750px;
    font-size: 14px;

    .user {

      .picture {
        @include span-columns(5);
      }

      .details {
        @include span-columns(7);

        .social-buttons {
          position: static;
          margin-top: 8px;
        }

        .bottom-buttons {
          bottom: 23px;
        }
      }
    }
  }
}

.profile-container {
  @include outer-container;
  width: 1100px;

  .user {
    @include span-columns(12);
    @include clearfix;
    background-color: #ffffff;
    margin-top: 250px;
    margin-bottom: 15px;

    .picture {
      @include span-columns(4);
      height: 100%;
      padding: 15px;
      img {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }

    .details {
      @include span-columns(8);
      height: 100%;
      padding: 15px;
      position: relative;

      .bottom-buttons {
        margin-top: 25px;

        .button {
          margin-right: 15px;
        }
      }

      .name {
        font-weight: 400;
      }

      .job {
        color: #777;
        font-size: 1.2em;
      }

      .bio {
        margin-top: 1em;
        color: #777;
        font-size: 1em;
      }

      .social-buttons {
        font-size: 2em;
        margin-top: 25px;

        a.button:first-child {
          padding-left: 0
        }

        a.button {
          padding: .2em .7em;
        }

        .fa-hashtag {
          padding: 0 .7em;
          padding-right: 0.3em;
        }

        .hashtag {
          color: #777;
          span {
            font-size: .6em;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .participant ,
  .organizator {
    .sub-header h3 {
      font-size: 1.5em;
      font-weight: 400;
      margin: 0;
    }
  }

  .participant > div, .organizator > div {
    padding: 15px;
  }

  .participant {
    @include span-columns(6);

    .picture {
      margin-right: 1em;
      width: 2.5em;
      height: 2.5em;
    }

    .text {
      font-size: 1.7em;
      font-weight: 300;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      width: 80%;
    }
  }

  .no-events {
    @include outer-container;

    .fa {
      @include span-columns(1);
      font-size: 1.7em;
      vertical-align: middle;
      padding-right: .5em;
    }

    span {
      @include span-columns(9);
    }

    color: #777;
  }

  .organizator {
    @include span-columns(6);
  }
}
