$btn-default-color: #F6F6F9;
$btn-primary-color: #327AB5;

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.content {
  width: 100%;
}

//navigation
.top-navbar { 
  min-height: 70px;
  background-color: $nav-back;
  //box-shadow: 3px 0 10px 2px;
}

.menu_pos {
  margin-top: 23px;
  margin-left:50px;
  font-size: 25px;
  cursor: pointer;
  //margin-right: 125px;
  float: left;
}

.custom-btn {
  margin-top: 18px;
  margin-right: 30px;
  padding: 6px 24px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  &-primary {
    background-color: $btn-primary-color;
    color: $btn-default-color;
  }
  &-primary:hover {
    background-color: $btn-default-color;
    color: $btn-primary-color;
    text-decoration: none;
  }

  &-default {
    background-color: $btn-default-color;
    color: $btn-primary-color;
  }
  &-default:hover {
    background-color: $btn-primary-color;
    color: $btn-default-color;
    text-decoration: none;
  }
}