#page-content {
  word-break: break-word;
  @media (min-width: $screen-xs) {
    padding: 0 0 2*$line-height-computed;
    /* Специальный "футер" под контент-областью, который отображается только
       на маленьких экранах (xs, sm). */
    #social-links {
      a {
        color: $text-color;
        i.fa, span.gray {
          font-size: 1.3em;
        }
        span.gray {
          color: $gray-lighter;
        }
      }
    }
  }
  @media (min-width: $screen-sm) {
    padding: $line-height-computed 0 2*$line-height-computed;
  }
  @media (min-width: $screen-md) {
    margin-left: $sidebar-width;
  }
}

.alert.alert-error {
  @extend .alert-danger;
}

.alert.alert-alert {
  @extend .alert-warning;
}

.image-container {
  margin: 0 0 $line-height-computed;
  img {
    width: 100%;
  }
}

.line {
  margin: $line-height-computed 0;
}

.avatar {
  text-align: center;
  img {
    width: 100%;
    @include border-radius(1000px);
  }
}
