#sidebar-container.affix {
  top: 0;
  bottom: 0;
  @media (min-width: $screen-xs) {
    position: static;
  }
  @media (min-width: $screen-sm) {
    .nav > li {
      float: left;
    }
  }
  @media (min-width: $screen-md) {
    position: fixed;
    .nav > li {
      float: none;
    }
  }
}

#sidebar {
  background: $sidebar-bg-color;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: $line-height-computed;
  padding-left: $line-height-computed;

  @media (min-width: $screen-xs) {
    /* Компенсация padding-left и padding-right родительского .container-fluid, это нужно для покраски фона. */
    margin-left: -$grid-gutter-width / 2;
    margin-right: -$grid-gutter-width / 2;
  }
  @media (min-width: $screen-md) {
    text-align: center;
    margin-left: -$grid-gutter-width / 2;
    margin-right: 0;
  }

  &, a {
    color: $sidebar-default-links-color;
  }
  #logo-and-name {
    font-weight: 300;
    > a {
      display: block;
    }
    @media (min-width: $screen-md) {
      margin: $line-height-computed 0;
      text-align: center;
      #sitename {
        font-size: 70%;
      }
      #logotype {
        margin-bottom: $line-height-computed;
      }
    }
    #logotype {
      img {
        width: 100%;
        max-width: 150px;
        height: 100%;
      }
    }
  }
  hr {
    margin: $line-height-computed 0;
    border: 0;
    height: 1px;
    @include background-image((linear-gradient(left, $sidebar-bg-color, lighten($sidebar-bg-color, 20%) 50%, $sidebar-bg-color)));
  }
  /* Сейчас ul.nav — это блок с аватаром и именем вошедшего пользователя и главное меню,
     а также ссылки на соц. сети (они стилизуются отдельно).
     Ссылки на соц. сети отобразятся в #sidebar только на больших мониторах (md, lg). */
  ul.nav {
    > li {
      > a {
        /* "Растяжка" ссылок в навигационных меню на ту же величину, что и padding у #sidebar'а */
        @media (min-width: $screen-xs) {
          padding: 10px 10px;
        }
        @media (min-width: $screen-md) {
          padding: $nav-link-padding;
          margin-left: -$line-height-computed;
          margin-right: -$line-height-computed;
        }
        @include transition-property(background);
        @include transition-duration($default-transition-duration);
        &:hover, &:focus {
          background-color: lighten($sidebar-bg-color, 5%);
        }
      }
      /* Стили для vk-like кнопки "+" в сайдбаре */
      &.with-plus-btn {
        position: relative;
        a.plus-btn {
          color: darken($sidebar-default-links-color, 20%);
          position: absolute;
          right: 0;
          top: 0;
          visibility: hidden;
          padding-left: 8px;
          padding-right: 8px;
          &:hover, &:focus {
            visibility: visible;
            background-color: lighten($sidebar-bg-color, 2%);
          }
        }
        &:hover, &:focus {
          a.plus-btn {
            visibility: visible;
            background-color: lighten($sidebar-bg-color, 2%);
          }
        }
      }
    }
    /* Стили активных пунктов меню. */
    li.active a, li a.active {
      &, &:hover, &:focus {
        background-color: lighten($sidebar-bg-color, 15%);
      }
    }
    /* Стили ссылок на соц. сети (отобразятся в #sidebar только на мониторах md, lg). */
    &#social-links {
      > li {
        display: inline;
        margin: 0 30px;
        > a {
          display: inline;
          padding: 10px;
          @include border-radius(1000px);
          background-color: lighten($sidebar-bg-color, 15%);
          &:hover, &:focus {
            background-color: lighten($sidebar-bg-color, 20%);
          }
        }
      }
    }
  }
  /* Общие стили навигационного меню со ссылками регистрации-входа и блока с
     аватаром вошедшего пользователя. */
  ul#registration-login-nav,
  .user {
    @media (min-width: $screen-xs) {
      font-size: 80%;
      margin-top: 21%;
    }
    @media (min-width: $screen-md) {
      font-size: inherit;
      margin-top: inherit;
    }
  }
  /* Стили навигационного меню со ссылками регистрации-входа. */
  ul#registration-login-nav {
    @media (min-width: $screen-xs) {
      float: right;
    }
    @media (min-width: $screen-md) {
      float: none;
    }
  }
  /* Стили блока с аватаром и именем пользователя. */
  .user {
    @include clearfix();
    text-align: left;
    word-break: break-word;
    > a {
      display: block;
      .avatar {
        width: 25%;
        margin-right: 5%;
        float: left;
      }
      .user-name {
        width: 70%;
        float: left;
      }
    }
    .actions {
      text-align: right;
      i.fa {
        margin-left: 1em;
      }
    }
  }
  /* Стили главного меню. */
  ul#mainmenu {
    margin-top: 8%;
  }
  /* Стили кнопки разворачивания главного меню, которая отображается на самых
     маленьких мобильных устройствах. */
  a.toggle {
    color: darken($sidebar-default-links-color, 20%);
    display: block;
    font-size: 1.7 * $font-size-base;
    margin-top: 40%;
    text-align: right;
  }
  /* Стили главного меню для самых маленьких мобильных устройствах. */
  #mobile-menu {
    word-break: break-word;
  }
}
