@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600&subset=latin,cyrillic-ext);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

h1, .h1, h2, .h2 {
  font-weight: 300;
}

h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
  font-weight: 600;
}

/* Стили кнопок логина через соц. сети. */
.btn-facebook, .btn-vk, .btn-github, .btn-google {
  margin: 0.3em 1em 0.3em 0;
  &.btn-block {
    margin-bottom: $line-height-computed;
  }
}
.btn-facebook {
  @include button-variant(white, $facebook-brand-color, darken($facebook-brand-color, 8%));
}
.btn-vk {
  @include button-variant(white, $vk-brand-color, darken($vk-brand-color, 8%));
}
.btn-github {
  @include button-variant($text-color, $github-brand-color, $gray-light);
}
.btn-google {
  @include button-variant(white, $google-brand-color, darken($google-brand-color, 12%));
}
