$sidebar-default-links-color: #ccc;
$sidebar-bg-color: #444;

$social-sidebar-widgets-width: 273px;

$default-transition-duration: .3s;

$facebook-brand-color: #3b5998;
$vk-brand-color: #45668e;
$github-brand-color: #fff;
$google-brand-color: #dd4b39;
