$sidebar-default-links-color: #ccc;
$sidebar-bg-color: #444;

$social-sidebar-widgets-width: 273px;

$default-transition-duration: .3s;

$facebook-brand-color: #3b5998;
$vk-brand-color: #45668e;
$github-brand-color: #fff;
$google-brand-color: #dd4b39;

$sidebar-width: 220px;
$sidebar-height-sm: 120px;
$sidebar-logo-width-md: 120px;
$sidebar-logo-width-sm: 100px;
$sidebar-logo-width-xs: 80px;
