.avatar {

  &-xs {
    width: 25px;
    height: 25px;
  }

  &-sm {
    width: 30px;
    height: 30px;
  }

  &-circle {
    border-radius: 50%;
  }

  img {
    width: 25px;
    height: 25px;
  }
}
