@import url(//fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(3);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  font-weight: normal;
}

p {
  margin: 0 0 $small-spacing;
  .text-content & { text-align: justify; }
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
