hr
= link_to t(:facebook), auth_at_provider_path(provider: :facebook), class: 'btn btn-default'
| &nbsp;
= link_to t(:vk), auth_at_provider_path(provider: :vk), class: 'btn btn-default'
| &nbsp;
= link_to t(:github), auth_at_provider_path(provider: :github), class: 'btn btn-default'
