.social-widgets
  .clearfix
    .tw-container
      a.twitter-timeline data-dnt="true" href="https://twitter.com/it_rostov" data-widget-id="487356774022787073"
        ' Твиты пользователя @it_rostov
    .vk-container
      #vk_groups
    .fb-container
      #fb-root
      .fb-like-box[data-href="https://www.facebook.com/it61.info"
                   data-width="280" data-height="405"
                   data-colorscheme="light" data-show-faces="true"
                   data-header="false" data-stream="false" data-show-border="false"]

= javascript_include_tag '//vk.com/js/api/openapi.js?115'
javascript:
  // Twitter
  !function(d,s,id) {
      var js, fjs = d.getElementsByTagName(s)[0],
          p = /^http:/.test(d.location) ? 'http' : 'https';
      if (!d.getElementById(id)) {
          js = d.createElement(s);
          js.id = id;
          js.src = p+ "://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);
      }
  }(document, "script", "twitter-wjs");

  // VK
  VK.Widgets.Group("vk_groups", {
      mode: 0,
      width: "280",
      height: "405",
      color1: 'FFFFFF',
      color2: '2B587A',
      color3: '5B7FA6'
  }, 55614321);

  // Facebook
  (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=395018603972420&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
