.admin-info
  i.fa [class="#{admin_event_icon_class(event)}"
        data-title="#{Event.human_attribute_name :published}: #{t(event.published.to_s)}"
        data-toggle="tooltip" data-placement="bottom"]

