MAILER_HOSTNAME:
MAILER_PORT: 587
MAILER_USER_NAME:
MAILER_PASSWORD:
MAILER_AUTHENTICATION: 'login'

MAILER_FROM: 'no-reply@it61.ru'
MAILER_RETURN_PATH: 'info@it61.ru'
APP_HOST: 'http://it61.info'

EPOCHTA_PRIVATE_KEY:
EPOCHTA_PUBLIC_KEY:
