APP_HOST: 'http://localhost:3000'

MAILER_HOSTNAME:
MAILER_PORT: 587
MAILER_USER_NAME:
MAILER_PASSWORD:
MAILER_AUTHENTICATION:

MAILER_FROM:
MAILER_RETURN_PATH:

EPOCHTA_PRIVATE_KEY:
EPOCHTA_PUBLIC_KEY:
POCHTA_TYPE:
EPOCHTA_SENDER:

NEW_RELIC_LICENSE_KEY:
