default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: it61_rails_dev

test:
  <<: *default
  database: it61_rails_test

production:
  <<: *default
  database: it61_rails_prod
  username: it61_rails
  password: securepass
