.navbar {
  width: 100%;

  &-white {
    background: #fff;

    .btn {
      @extend .btn-blue;
    }
  }

  &-blue {
    background: $blue;

    .hamburger {
      color: #fff;
    }

    .btn {
      @extend .btn-white;
    }
  }

  &-wrapper {
    padding: 16px 30px;
    @include clearfix;
    position: relative;
  }

  .hamburger {
    font-size: 18px;
    vertical-align: bottom;
    cursor: pointer;
  }

  &-profile {
    .avatar, .name, .btn {
      float: left;
    }

    .avatar {
      margin-right: 11px;
      width: 25px;
      height: 25px;
    }

    .name {
      color: #fff;
      font-size: 18px;
      margin-right: 11px;
      font-weight: 700;
      max-width: 130px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .btn-small {
      padding: 9px 11px;
    }
  }
}

.content-background {
  background-color: #327ab5;
  height: 398px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.header-title {
  background: $blue;
  @include padding(80px null 25px null);
  @include media(max-width $medium-screen) {
    padding-top: 40px;
  }

  h1 {
    font-size: 36px;
    color: white;
    margin-bottom: 0;
  }
}