.navbar {
  background: #fff;
  width: 100%;

  &-wrapper {
    padding: 16px 30px;
    @include clearfix;
    position: relative;
  }

  .hamburger {
    font-size: 18px;
    vertical-align: bottom;
    cursor: pointer;
  }
}