.navbar {
  width: 100%;

  &-white {
    background: #fff;

    .button {
      background: $blue;
      color: #fff;
    }
  }

  &-blue {
    background: $blue;

    .hamburger {
      color: #fff;
    }

    .button {
      background: #fff;
      color: $blue;
    }
  }

  &-wrapper {
    padding: 16px 30px;
    @include clearfix;
    position: relative;
  }

  .hamburger {
    font-size: 18px;
    vertical-align: bottom;
    cursor: pointer;
  }
}