$sidebar-width: 300px;

.sidebar {
  font-size: 14px;
  height: 100%;
  left: 0;
  margin-left: -$sidebar-width;
  position: fixed;
  top: 0;
  width: $sidebar-width;
  z-index: 100;

  &__logo {
    background:#363738;
    min-width: $sidebar-width;
    min-height: 200px;
    padding-top: 45px;

    &_img {
      background: image_url("logo-03.svg");
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      width: 100px;
    }
  }

  &__profile {
    background: #F4F4F7;
    border-bottom: 1px solid #E9E9ED;
    color: #7F7F81;
    font-weight: 500;
    height: 56px;
    padding: 18px 30px 16px;
    width: $sidebar-width;

    &:hover {
      background-color: #BFE0FB;
      cursor: pointer;
    }
  }

  &__menu {
    padding-left: 0;

    li {
      font-size: 14px;
      font-weight: 500;
      height: 56px;
      list-style: none;
      padding: 18px 37px 16px;
      text-transform: uppercase;
      width: $sidebar-width;

      &:hover {
        background-color: #BFE0FB;
        cursor: pointer;
      }
    }
  }
}
