.button {
  &-small {
    padding: 9px 23px;
    font-size: 12px;
    font-weight: 500;
  }

  &-shadow {
    box-shadow: 0 2px 3.7px 0.3px rgba(20, 47, 69, 0.12);
  }

  &-not-linked {
    color: #777;
  }

  &-gray {
    background-color: $gray;
    color: $blue;

    &:focus {
      background-color: shade($gray, 5%);
      color: $blue;
    }
  }

  &-blue {
    background-color: $blue;
    color: #fff;

    &:focus {
      background-color: shade($blue, 5%);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;

      &:hover {
        background-color: $blue;
      }
    }
  }
}
