.input-float-label {
  position: relative;
  textarea, input {
    min-height: ($input-font-size * 1.9);
  }

  // ----- Label style
  label {
    position: absolute;
    top: ($input-font-size / 4);
    pointer-events: none;
    padding-left: $input-spacer;
    z-index: 1;
    font-size: 18px;
    font-weight: normal;
    color: #adadad;
    transition: all $input-transition-speed ease;
  }

  // ----- Common styles
  input,
  textarea {
    display: block;
    padding: $input-spacer $input-spacer ($input-spacer / 2);
    font-size: $input-font-size;
    width: 100%;
    box-shadow: none;
    border: none;
    border-bottom: solid 2px #ececec;

  }

  input {
    line-height: 1.9;
  }

  textarea {
    line-height: 1.5;
    resize: none;
  }

  // ----- Focused state, filled state
  input,
  textarea
  {
    &:focus {
      color: #000;
      box-shadow: none;
      outline: none;
      border-bottom: 2px solid $blue;

      &::-webkit-input-placeholder {
        color: $blue;
        font-size: 16px;
        transform: translateY(-20px);
      }
    }

    &:focus ~ label, &.top-label ~ label {
      font-size: 16px;
      color: $blue;
      top: $input-active-top;
      left: 0;
    }
  }

  // ----- Disabled state
  input:disabled,
  textarea:disabled {
    color: #555;
    border-bottom: solid 2px #ececec;

    ~ label {
      font-size: 16px;
      color: #adadad;
      top: $input-active-top;
      left: 0;
    }
  }
}

.input-search {
  position: relative;

  span {
    position: absolute;
    padding: 10px 5px;
    pointer-events: none;
    font-size: 18px;
    color: #acacae;
  }

  input {
    padding-left: 35px;
    box-sizing: border-box;
  }
}