.input-float-label {
  position: relative;
  input {
    height: ($input-font-size * 1.9);
  }

  label {
    position: absolute;
    top: ($input-font-size / 4);
    pointer-events: none;
    padding-left: $input-spacer;
    z-index: 1;
    font-size: 18px;
    font-weight: normal;
    color: #adadad;
    transition: all $input-transition-speed ease;
  }

  input,
  textarea {
    display: block;
    padding: $input-spacer $input-spacer ($input-spacer / 2);
    font-size: $input-font-size;
    line-height: 1.9;
    width: 100%;
    box-shadow: none;
    border: none;
    color: transparent;
    transition: all $input-transition-speed ease;
    border-bottom: solid 2px #ececec;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 95%, #327ab5 5%) no-repeat;
    background-size: 0;
  }

  textarea {
    resize: none;
  }

  input:focus,
  textarea:focus,
  .top-label {
    color: #000;

    ~ label {
      font-size: 16px;
      color: $blue;
      top: $input-active-top;
      left: 0;
    }
  }

  input,
  textarea {
    &:focus {
      box-shadow: none;
      outline: none;
      background-size: 100%;
      border-bottom: 0;

      &::-webkit-input-placeholder {
        color: $blue;
        font-size: 16px;
        transform: translateY(-20px);
      }
    }
  }
}