.companies-index, .companies-show {
  .members {
    @include clearfix();
    .member {
      float: left;
      margin-right: 1em;
      a {
        display: block;
      }
      .avatar {
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

.companies-index {
  .companies {
    .company {
      &.panel {
        .panel-heading {
          .admin-info {
            margin-right: 1em;
            display: inline;
          }
        }
        .panel-footer {
          .members {
            height: 50px;
            overflow: hidden;

            h4 {
              float: left;
              margin-right: 1em;
              margin-top: 0;
              margin-bottom: 0;
              line-height: 50px;
            }
          }
        }
      }
    }
  }
}

.companies-show {
  .page-header {
    .admin-info {
      margin-right: 1em !important;
      display: inline;
    }
  }
  .members {
    ul.list-unstyled {
      margin: -.5em;
    }
    .member {
      margin: .5em;
      .avatar {
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
