.events-index, .events-show {
  .participants {
    @include clearfix();
    .participant {
      float: left;
      margin-right: 1em;
      a {
        display: block;
      }
      .avatar {
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

.events-index {
  .page-header > .actions {
    margin-top: 24px;
    line-height: 40px;
    > a {
      color: $text-color;
      display: inline-block;
      font-size: $font-size-base * 2;
    }
  }

  .events {
    .event {
      &.panel {
        .panel-heading {
          .admin-info {
            margin-right: 1em;
            display: inline;
          }
        }
        .panel-footer {
          .participants {
            height: 50px;
            overflow: hidden;

            h4 {
              float: left;
              margin-right: 1em;
              margin-top: 0;
              margin-bottom: 0;
              line-height: 50px;
            }
          }
        }
      }
    }
  }
}

.events-show {
  .page-header {
    .admin-info {
      margin-right: 1em;
      display: inline;
    }
  }
  .participants {
    ul.list-unstyled {
      margin: -.5em;
    }
    .participant {
      margin: .5em;
      .avatar {
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

.event-date {
  font-size: $font-size-h2;
}

.event-place {
  font-size: $font-size-h4;
}
