.events-index, .events-show {
  .participants {
    @include clearfix();
    height: 50px;
    overflow: hidden;
    .participant {
      float: left;
      margin-right: 1em;
      a {
        display: block;
      }
      .avatar {
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  .event-title-image {
  }
}

.events-index {
  .events {
    .event {
      &.panel {
        .panel-heading {
          .admin-info {
            margin-right: 1em;
            display: inline;
          }
        }
        .panel-footer {
          .participants {
            h4 {
              float: left;
              margin-right: 1em;
              margin-top: 0;
              margin-bottom: 0;
              line-height: 50px;
            }
          }
        }
      }
    }
  }
}

.events-show {
  .page-header {
    .admin-info {
      margin-right: 1em;
      display: inline;
    }
  }
  .participants {
    ul.list-unstyled {
      margin: -.5em;
    }
    .participant {
      margin: .5em;
      .avatar {
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

form.edit_event {
  .tab-content {
    .tab-pane {
      padding:  $line-height-computed ( $line-height-computed / 4) 0;
      border-left: 1px solid $nav-tabs-active-link-hover-border-color;
      border-right: 1px solid $nav-tabs-active-link-hover-border-color;
      border-bottom: 1px solid $nav-tabs-active-link-hover-border-color;

      // bootstrap-form не умеет не рендерить label для text-area, поэтому скрываем ее css
      label.control-label {
        display: none;
      }
    }
  }
}

