.event-card.mdl-card {
  width: 300px;
}
.events {
  margin: 50px 50px 50px 50px;

}

.event-card__link {
  &:hover, &:link, &:visited, &:active {
    text-decoration: none;
  }
}

.event-card__image {
  width: 300px;
  height: 300px;
}

.event-card__date {
  padding-bottom: 10px;
}

.event-card__location {
  padding-bottom: 30px;
}

.events__title {
  color: rgba(0,0,0,.87);
  margin-bottom: 10px;
}