.header {
  background-color: white;
}

.header .mdl-navigation__link {
  height: 60px;
  line-height: 68px;
  border-bottom: 4px solid transparent;
}

.header .mdl-navigation__link:hover {
  border-bottom-color: white;
}

.header .header__login {
  margin-left: 12px;
  color: white;
}

.header__name {
  display: block;
  overflow: hidden;
  max-width: 120px;
  padding: 0 24px;
  line-height: 64px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}

.drawer .mdl-navigation__link {
  cursor: pointer;
}

.drawer .mdl-navigation__link .material-icons {
  margin-right: 12px;
  vertical-align: bottom;
}

.drawer > .drawer__title {
  text-align: center;
  margin-left: 0;
  padding-top: 30px;
  padding-left: 0 !important;
}

.drawer__logo {
  text-align: center;
}

.separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

.section {
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 56px;
}

.mdl-layout.is-small-screen .section {
  padding: 40px 28px;
}
