// Place all the styles related to the MainPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.it61-logo-image {
  margin-right: 12px;
}

.hero {
  box-sizing: border-box;
  min-height: 800px;
  padding-top: 60px;
  text-align: center;
  background: asset-url('hero.jpg') center no-repeat;
  background-size: cover;
  color: white;
}

.hero__title {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 200;
  line-height: 1;
  margin-bottom: 1.4em;
}

.hero-proud {
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

.hero-proud__block {
  text-align: left;
}

.hero-proud__number {
  font: 56px/1.4 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 200;
}

.hero-proud__caption {
  font-size: 24px;
  font-weight: 300;
}

.manifesto__rule {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.manifesto__join {
  padding-top: 40px;
  text-align: center;
}
