script type="text/javascript" src="//vk.com/js/api/openapi.js?136"

// VK Widget
#vk_groups style="display: inline-block"
javascript:
  VK.Widgets.Group("vk_groups", {mode: 3, width: "230"}, 55614321);