= active_link_to t("pages.events"), events_path, wrap_tag: :li
= active_link_to t("pages.users"), users_path, wrap_tag: :li
= active_link_to t("pages.photos"), photos_path, wrap_tag: :li
= active_link_to t("pages.about.link"), about_path, wrap_tag: :li