- if user_signed_in?
  h1 Welcome, #{current_user.email} (#{current_user.name})
  br #{current_user.social_accounts.to_json}
  br
  = link_to 'Logout', users_sign_out_path, method: :delete

br
br
= link_to "Sign in with Github", user_github_omniauth_authorize_path
br
= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path
br
= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path
br
= link_to "Sign in with VK", user_vkontakte_omniauth_authorize_path
